@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  background-image: linear-gradient(rgba(89, 89, 89, 0.9), rgba(11, 46, 56, 0.9)),
    url("./assets/index.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  z-index: 9;
}

.nav__bar {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: #004244;
}

.nav__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo img {
  max-width: 60px;
}

.nav__logo span {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: rgba(9, 24, 29, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.5s;
}

.nav__links a:hover {
  color: #00a2a4;
  text-decoration: underline;
}

.container__grid {
  position:absolute;
  isolation: isolate;
  max-width: 1200px;
  margin: 150px;
  padding: 2rem 1rem;
  padding-top: 8rem;
  display: grid;
  gap: 2rem;
}

.container__content {
  text-align: center;
}

.container__content h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 5rem;
  color: #00a2a4;
}

.container__content h2 {
  margin-inline: auto;
  margin-bottom: 1rem;
  max-width: 450px;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: #ffffff;
}

.container__content p {
  margin-inline: auto;
  margin-bottom: 4rem;
  max-width: 400px;
  color: #ffffff;
}

@media (width > 768px) {
    nav {
      padding: 2rem 1rem;
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .nav__bar {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo span {
      display: flex;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      padding: 0;
      width: unset;
      position: static;
      transform: none;
      flex-direction: row;
      background-color: transparent;
    }
  
    .container__grid {
      padding-top: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
  
    .container__image {
      grid-area: 1/2/2/3;
    }
  
    .container__content {
      text-align: left;
    }
  
    .container__content :is(h2, p) {
      margin-inline: unset;
    }
  
    .socials > div {
      justify-content: flex-start;
    }
  }